<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta content="{{.Description}}" name="description" />
    <meta
      name="keywords"
      content='{{ with .Params.tags }}{{ delimit . ", "}}{{ end }}'
    />
    {{partial "css.html"}}
  </head>

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html"}}
    <!-- End Header -->

    <main id="main">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{partial "footer.html"}}
    <!-- End Footer -->

    {{ partial "script.html"}}
  </body>
</html>
