<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta content="{{.Description}}" name="description" />
    <meta
      name="keywords"
      content='{{ with .Params.tags }}{{ delimit . ", "}}{{ end }}'
    />

    <!-- multilingual SEO optimizations -->
    {{ if .IsTranslated }}
    <!---->
    {{ range .AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{.Lang}}"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}
    <link
      rel="alternate"
      hreflang="x-default"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}
    <!---->

    {{partial "css.html"}}
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <a href='{{ "/" | absLangURL }}' class="logo me-auto"
          ><img src="/assets/img/logo.png" alt="Clienk Logo"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            {{ range .Site.Menus.main -}}
            <li>
              <a class="nav-link scrollto" href="{{ .URL | absLangURL }}"
                >{{ .Name }}</a
              >
            </li>
            {{end}}
            <!---->
            <style>
              .language:last-child {
                display: none !important;
              }
            </style>
            <!---->
            {{ range $.Site.Home.AllTranslations }}
            <li class="language">
              <a href="{{ .Permalink }}" class="p-3"
                ><img src="/assets/img/{{ .Language.Params.flag }}" alt="En" />
              </a>
            </li>
            {{ end }}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a
          href='{{ "/" | absLangURL }}{{.Site.Params.btn_link}}'
          class="get-started-btn scrollto"
          >{{ i18n "demo" .}}</a
        >
      </div>
    </header>

    <!-- End Header -->

    <main id="main">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="cta">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <p>{{.Site.Params.footer_subtitle}}</p>
              <h4>{{.Site.Params.footer_title}}</h4>
            </div>
            <div class="col-lg-6 text-center mt-4">
              <a href='{{ "/" | absLangURL }}{{.Site.Params.btn_link}}'
                >{{.Site.Params.btn}}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <img
                src="/assets/img/logo.png"
                alt="Logo"
                class="img-fluid mb-3"
              />
              <p>
                {{.Site.Params.footer_address | safeHTML}}
                <br />
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <ul>
                {{ range site.Menus.footer_left }}
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ .URL | relLangURL }}" title="{{ .Name }}"
                    >{{ .Name }}</a
                  >
                </li>
                {{end}}
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <ul>
                {{ range site.Menus.footer_right }}
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ .URL | relLangURL }}" title="{{ .Name }}"
                    >{{ .Name }}</a
                  >
                </li>
                {{end}}
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>{{ i18n "newslatter" .}}</h4>
              <p>{{ i18n "one" .}}</p>
              <form action="https://formspree.io/f/meqddzjz" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value='{{ i18n "subscribe"}}'
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            {{ .Site.Params.footer_copy }}
            <a href="{{ .Site.Params.footer_icp_link }}">{{ .Site.Params.footer_icp_txt }}</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer -->

    {{ partial "script.html"}}
  </body>
</html>
