{{ define "main"}}

<!-- ======= Hero Section ======= -->
{{ with .Params.hero }}
<!---->
{{ if .enable }}

<section
  id="hero"
  class="d-flex align-items-center justify-content-center pb-0"
  style="background-color: {{.bg_color}}; height: {{.height}}"
>
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <h1>{{.title}}</h1>
        <h2>{{.content | safeHTML}}</h2>
        {{ if .button.enable }} {{ with .button }}
        <a
          href="{{.link}}"
          class="btn-get-started scrollto"
          style="color: {{.color}}"
          >{{.label}}
        </a>
        {{ end }} {{ end }}
      </div>
      <div class="col-lg-6">
        <img src="{{.image}}" alt="{{.title}}" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
{{end}} {{end}}
<!-- End Hero -->

<!-- ======= Detail Section ======= -->
{{with .Params.details}}
<!---->
{{ range.items}} {{if .right}}
<section class="details">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <img src="{{.image}}" alt="Image" class="img-fluid" />
      </div>
      <div
        class="col-lg-5 col-md-6 {{.color}} d-flex flex-column justify-content-center"
      >
        <h2>{{.title}}</h2>
        <p>{{.content | safeHTML}}</p>
      </div>
    </div>
  </div>
</section>
{{else}}

<section class="details">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-7 col-md-6 order-2">
        <img src="{{.image}}" alt="Image" class="img-fluid" />
      </div>
      <div
        class="col-lg-5 col-md-6 {{.color}} d-flex flex-column justify-content-center order-1"
      >
        <h2>{{.title}}</h2>
        <p>{{.content | safeHTML}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!---->
{{end}}
<!-- End DetailSection -->

<!-- ======= BOX Section ======= -->
{{with .Params.box}}
<section class="box section-bg">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      {{range .items}}
      <div class="col-md-6 pt-5 pb-5">
        <div class="box-item text-center">
          <img src="{{.image}}" alt="Image" class="img-fluid" />
          <h3>{{.title}}</h3>
          <p>{{.content}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!-- End BOX Section -->

<!-- ======= BOX Section ======= -->
{{with .Params.squre_box}}
<!---->
{{if .enable}}
<section class="boxer">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      {{range .items}}
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="box-item text-start p-5">
          <img src="{{.icon}}" alt="Image" class="img-fluid" />
          <div>
            <h3>{{.title}}</h3>
            <p>{{.content}}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End BOX Section -->

<!-- ======= Clients Section ======= -->
{{ with .Params.partners }}
<!---->
{{ if .enable }}
<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        {{range .items}}
        <div class="swiper-slide">
          <a class="text-start"
            ><img
              src="{{.logo}}"
              class="img-fluid"
              alt="{{.name}}"
              style="height: 40px"
            />
            <br />
            <p class="mt-3" style="color: #000">{{.name}}</p>
          </a>
        </div>
        {{end}}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
{{end}} {{end}}
<!-- End Clients Section -->

<!-- ======= About Section ======= -->
{{with .Params.about}}
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch">
        <div class="content">
          <h3>{{.title}}</h3>
          <p>{{.content}}</p>
          <a href="{{.btn_link}}" class="about-btn"
            ><span>{{.btn_label}}</span> <i class="bx bx-chevron-right"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            {{ range .items}}
            <div
              class="col-md-12 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="{{.icon}}"></i>
              <h4>{{.title}}</h4>
              <p>{{.content}}</p>
              <ul>
                {{range.list}}
                <li>{{.}}</li>
                {{end}}
              </ul>
            </div>
            {{end}}

            <!--style 2-->
            {{ range .items2}}
            <div
              class="col-md-6 d-flex align-items-center icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="{{.icon}} p-3"></i>
              <h4>{{.title}}</h4>
              <p>{{.content}}</p>
              <ul>
                {{range.list}}
                <li>{{.}}</li>
                {{end}}
              </ul>
            </div>
            {{end}}
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End About Section -->

{{with .Params.contact}}
<!---->
{{if .enable}}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>{{ i18n "location" .}}:</h4>
            <p>868 Huashan Road, Shanghai, China</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>{{ i18n "email" .}}:</h4>
            <p>info@clienk.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>{{ i18n "call" .}}:</h4>
            <p>+86 187 177 288 45</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">
        <form
          action="https://formspree.io/f/meqddzjz"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder='{{ i18n "yourName" .}}'
                required
              />
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder='{{ i18n "Youremail" .}}'
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder='{{ i18n "subject" .}}'
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder='{{ i18n "message" .}}'
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">{{ i18n "sendmessage" .}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
{{end}}
<!---->
{{end}}

<section class="content mt-5  {{with .Params.privacy}} {{if.enable}} d-none {{end}} {{end}}"
>  <div class="container mt-5" data-aos="fade-up">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-9 col-md-10 col-sm-12">{{.Content}}</div>
    </div>
  </div>
</section>

{{end}}
