<footer id="footer" class="footer">
  <div class="cta">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <p>One single AI-powered web app for all your customer care.</p>
          <h4>A BETTER WAY TO ENGAGE AND RETAIN YOUR CUSTOMERS.</h4>
        </div>
        <div class="col-lg-6 text-center mt-4">
          <a href="/">Request A Demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <img src="/assets/img/logo.png" alt="Logo" class="img-fluid mb-3" />
          <p>
            President Mansion <br />
            Huashan Road 868, Building D,<br />
            Level 0, Office B <br />
            Shanghai, China <br /><br />
            <strong>Phone:</strong> +86 187 1772 8845<br />
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">CONTACT CENTER</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">AGENT COACH</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">REPORTING</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">CUSTOMER PROFILING</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">ABOUT Clienk</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">CONTACT US</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">PRIVACY POLICY</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>One single AI-powered web app for all your customer care.</p>
          <form action="https://formspree.io/f/meqddzjz" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        © 2003-2020 Clienk-All Rights Reserved
        <a href="http://www.beian.miit.gov.cn/">沪ICP备18038187号-2</a>
      </div>
    </div>
  </div>
</footer>
