<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo me-auto"
      ><img src="/assets/img/logo.png" alt="Logo"
    /></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a class="nav-link scrollto" href="/contact-center">Contact Center</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/agent-coach">Agent Coach</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/real-time-reporting">Reporting</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/customer-profiling"
            >Customer profiling</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="/blog">Blog</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <a href="/request-a-demo" class="get-started-btn scrollto"
      >Request a Demo</a
    >

    <a href="/zh" class="p-3"><img src="/assets/img/zh_cn.gif" alt="Cn" /></a>
    <a href="/" class="p-1"><img src="/assets/img/en_gb.gif" alt="En" /></a>
  </div>
</header>
