<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <a href="{{ site.BaseURL | absLangURL }}" class="logo me-auto"
      ><img src="/assets/img/logo.png" alt="Logo"
    /></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a
            class="nav-link scrollto"
            href="{{ site.BaseURL | absLangURL }}/contact-center"
            >{{ i18n "contact" .}}</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="{{ site.BaseURL | absLangURL }}/agent-coach"
            >{{ i18n "agent" .}}</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="{{ site.BaseURL | absLangURL }}/real-time-reporting"
            >{{ i18n "report" .}}</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="{{ site.BaseURL | absLangURL }}/customer-profiling"
            >{{ i18n "customer" .}}</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="{{ site.BaseURL | absLangURL }}/blog"
            >{{ i18n "blog" .}}</a
          >
        </li>
        <li>
          <a href="/zh" class="p-3"
            ><img src="/assets/img/zh_cn.gif" alt="Cn" />
          </a>
        </li>
        <li>
          <a href="/" class="p-3"
            ><img src="/assets/img/en_gb.gif" alt="En" />
          </a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <a href="/request-a-demo" class="get-started-btn scrollto"
      >{{ i18n "demo" .}}</a
    >
  </div>
</header>
