{{ define "main"}}

<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-blog-posts" class="recent-blog-posts pt-5">
  <div class="container" data-aos="fade-up">
    <div class="row">
      {{ range .RegularPages}}
      <div class="col-lg-4 mt-5">
        <div class="post-box">
          <div class="post-img">
{{/*              <img
              src="{{with .Params.image}}{{.}}{{end}}"
              class="img-fluid"
              alt="Logo"
            />
*/}}   
            {{ $image := .Params.image }}
            {{ if not $image }}
            {{ $image = "/assets/img/logo.png" }}
            {{ end }}
            <img src="{{ $image }}" class="img-fluid" alt="blog image" />

          </div>
          {{ if .Params.date }}
          <span class="post-date">Published on {{ .Params.date.Format .Site.Params.dateFormat }}</span>
          {{ end }}
          <h3 class="post-title">{{.Title}}</h3>
          <a href="{{.Permalink}}" class="readmore stretched-link mt-auto">
            <span>{{ i18n "readmore" .}}</span><i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
<!-- End Recent Blog Posts Section -->

{{end}}